html, body{
    font-family: 'Source Sans Pro';
}

@font-face{
    font-family: "Source Sans Pro";
}

h5{

    font-size: 5vh;

}

.page{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.radioBox{

    height: 60vh;
    width: 70vw;

    border-style: solid;
    border-width: 1px;
    border-color: #ddd;

}


.custom-control{

    margin-bottom: 5vh;

}

.custom-control-label, .radio-inline{

    font-size: 5vh;
    line-height: 3vh;

}

#header{

    padding-left: 1.5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-bottom: 1px solid #ddd;

}

#mainForm{

   margin-top: 6vh; 
   margin-left: 2vw;

}

#question{

    padding-top: 3vh;
    
}

#proceedBtn{

    position: absolute;
    margin-left: 1vw;
    top: 75%;


}
